<!DOCTYPE html>
<html>

<head>
<meta charset="utf-8">
<link rel="shortcut icon" href="favicon.ico"/>
<title>Funcionários - Início</title>
<link rel="stylesheet" type="text/css"
	href="resources/css/bootstrap.min.css">
<link rel="stylesheet" type="text/css"
	href="resources/css/bootstrap-vue.css">
</head>

<body>


	<div id="inicio" class="container-fluid table" >
		<h4>Lista dos Funcionários</h4>
		<table>
		  <tr>
			<th>Nome</th>
			<th>Setor</th>
			<th>Salário</th>
			<th>Email</th>
			<th>Idade</th>
			<th></th>
			<th></th>
		  </tr>
		  <tbody id="event-table" >
			<tr v-for="funcionario in funcionarios">
			  <td key="funcionario.id">{{ funcionario.nome }}</td> 
			  <td>{{ funcionario.setor.nome }}</td> 
			  <td>{{ funcionario.salario }}</td> 
			  <td>{{ funcionario.email }}</td> 
			  <td>{{ funcionario.idade }}</td>
			  <td><button @click="atualizar" :value="funcionario.id">&#9998;</button>
				<button @click="deletarFuncionario" :value="funcionario.id">&#10006;</button>
			  </td>
			</tr>
		  </tbody>
		</table>
		<form v-show="ativo">
			<input type="text" v-model="requestBody.nome" placeholder="nome" required>
			<input type="text" v-model="requestBody.setor.nome" placeholder="setor" name="setor" required>
			<input type="text" v-model="requestBody.salario" placeholder="salario" required>
			<input type="email" v-model="requestBody.email" placeholder="email" required>
			<input type="text" v-model="requestBody.idade" placeholder="idade" required>
			<button @click.prevent="atualizarFuncionario" >Atualizar</button>
		</form>
		<a href="./pages/novo-funcionario.html">Cadastrar novo</a>
	  </div>

	<script src="resources/js/vue.js"></script>
	<script src="resources/js/axios.min.js"></script>
	<script src="resources/js/index.js"></script>
</body>
</html>